*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans | Roboto');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color:rgb(247, 200, 252);
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
  }
  
  header{
    background-color: rgb(228, 105, 228);
    height: 75px;
    
  }
  
  .cabeza{
    display: flex;
    flex-direction: row;
  }
  
  .cabeza > div{
    width: 100px;
    text-align: center;
    margin: 5px;
    height: 30px;
  }
  
  .cabeza a{
    text-decoration: none;
    color: #111;
  }
  
  .cabeza div{
     font-size: 25px;
  }


  .conte{
    text-align: right;
  }
  a{
    text-decoration: none;
  }

  .conte a{ 
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 144, 190);
    border-radius: 40px;
    font-size: 25px;
    margin: 15px;
  }

.general{
    margin-top: 50px;
    width: 100%;
}

.pago{
    width: 150px;
    height: 500px;
    float: left;
    position: relative;
    background-color: #3498db;
}

.cars{
    width: 1200px;
    height: 700px;
}

#logo{
  color: rgb(0, 0, 0);
  font-size: 30px;
  letter-spacing: 4px;
  padding: 15px;
}


.main{
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
}



.menu a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  letter-spacing: 2px;
  display: list-item;
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.menu a:hover{
  background-color: red;
  transition: 0,5s;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.pago a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  letter-spacing: 2px;
  display: list-item;
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.pago a:hover{
  background-color: red;
  transition: 0,5s;
  letter-spacing: 4px;
  text-transform: uppercase;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.container .card{
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(255, 7, 234, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(48, 103, 253, 0.2);
}
.container .card img{
  width: 330px;
  height: 220px;
}
.container .card h4{
  font-weight: 600;
}
.container .card p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container .card a {
  font-weight:500;
  text-decoration: none;
  color: #3498db}











