@import url('https://fonts.googleapis.com/css?family=Open+Sans | Roboto');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color:rgb(247, 200, 252);
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
  }
  
  header{
    background-color: rgb(228, 105, 228);
    height: 75px;
    
  }
  
  section{
    display: flex;
    flex-direction: row;
  }
  
  section > div{
    width: 100px;
    text-align: center;
    margin: 5px;
    height: 30px;
  }
  
  section div{
     font-size: 25px;
  }
  
  .conte{
    text-align: right;
  }
  
  .conte a{ 
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 144, 190);
    border-radius: 40px;
    font-size: 25px;
    margin: 15px;
  }